@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

/*设置默认字体*/
body {
  font-size: 14px;
  font-style: normal;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    helvetica neue,
    Arial,
    noto sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    segoe ui symbol,
    noto color emoji;
}

/*字体太小用户体检不好，让small恢复12px*/
small {
  font-size: 12px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4,
h5,
h6 {
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:active {
  outline-width: 0;
  text-decoration: none;
}

/*重置表格*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*重置hr*/
hr {
  border: 0;
  height: 1px;
}

/*图形图片*/
img {
  border-style: none;
}

img:not([src]) {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

/*下面的操作是针对于html5页面布局准备的，不支持ie6~8以及其他低版本的浏览器*/
html {
  /*禁用系统默认菜单*/
  -webkit-touch-callout: none;
  /*关闭iphone & Android的浏览器纵向和横向模式中自动调整字体大小的功能*/
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
button,
a {
  /*表单或者a标签在手机点击时会出现边框或彩色的背景区域，意思是去除点击背景框*/
  -webkit-tap-highlight-color: transparent;
}

/*重置html5元素的默认样式*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]),
video:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
select,
textarea {
  font-size: 100%;
  outline: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

nav {
  width: 100%;
  height: 40px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #222226;
  box-shadow: 0 2px 2px #f1f1f1;
}

nav section {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

nav section.logo {
  width: 147px;
  border: solid 1px #e9e9ee;
  border-radius: 3px;
  transition: all 0.2s ease-out;
}

nav section.logo:hover {
  box-shadow: 2px 2px 10px #bed3ad;
}

nav section.logo img {
  height: 100%;
  transition: all 1.5s ease-out;
}

nav section.logo img:hover {
  transform: rotateY(360deg);
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4em;
  text-align: center;
}

nav section.block {
  margin-left: 100px;
}

nav section.block a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37405f;
  font-weight: bold;
  font-family: "宋体";
  height: 90%;
  width: 3em;
}

nav section.login {
  height: 1em;
  width: 5em;
  margin: auto 0;
  align-items: center;
  margin-right: 50px;
  flex-shrink: 0;
}

nav section.login a {
  color: #37405f;
  font-weight: bold;
  font-family: "等线";
}

nav section.block ul li a,
nav section.login > a:hover {
  transition: all 0.2s;
}

nav section.block ul li a:hover {
  background: #f0f0f5;
  border: solid 1px #aaa;
  border-radius: 5px;
  transform: scale(1.1);
}

nav section.search {
  margin-right: 30px;
}

nav section.search form {
  margin: auto 0;
}

nav section.search form label {
  display: flex;
  align-items: center;
}

nav section.search input {
  color: #2c2d2d;
  outline: none;
  padding-left: 1em;
  background: #f5f6f7;
  width: 300px;
  height: 1.5em;
  font-size: 14px;
  font-family: "等线";
  border-radius: 100px;
  border: solid 1px #e8e8ed;
}

nav section.search span,
nav section.search span:hover,
nav section.search span:active {
  color: #999999;
  font-size: 14px;
}

nav section.search span:hover,
nav section.search span:active {
  color: #f00;
}

/*头像*/

aside#lAside {
  /* margin-left: 15px;
  margin-top: 55px; */
  /* padding-top: 10px; */
  width: 200px;
  height: 100vh;
  /* background: #ffffff; */
  border: solid 1px rgb(0, 0, 0, 0.15);
  /* border-radius: 5px; */
}

aside#lAside article.headImg {
  width: 70px;
  height: 70px;
  border: solid 1px #666;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto;
  transition: all 0.5s;
}

aside#lAside article.headImg:hover {
  box-shadow: 0 0 100px #849e9d;
}

aside#lAside article.headImg img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

aside#lAside article.headImg img:hover {
  transform: scale(1.05);
}

aside#lAside article.userName {
  text-align: center;
  font-family: "幼圆";
  font-size: 14px;
  color: #aed7cf;
  /* margin: -10px 0 8px; */
}

/*链接*/

aside#lAside article.button > ul li {
  text-align: center;
}

aside#lAside article.button a {
  margin-left: 5px;
  color: #8c7a6c;
  font-family: "幼圆";
}

aside#lAside article.button ul {
  border-radius: 4px;
  background: #ffffff;
  margin-top: 5px;
}

aside#lAside article.button li {
  position: relative;
}

aside#lAside article.button a:hover {
  color: #00ddff;
}

aside#lAside article.button a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.6s;
  transform: scale(0.1);
  left: 71px;
}

aside#lAside article.button li a:hover::before {
  box-shadow: 0 0 14px 2px #8b5f2c;
  transform: scale(1.05);
}

/*热门文章*/

aside#lAside article.hotArticle header {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  background: #ebf6ff;
  font-family: "等线";
}

aside#lAside article.hotArticle ul {
  background: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  overflow: hidden;
  width: 200px;
  height: 148px;
}

aside#lAside article.hotArticle ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
}

aside#lAside article.hotArticle ul li a {
  color: #393939;
  margin: 0 2em;
}

aside#lAside article.hotArticle ul li a:hover {
  text-decoration: underline;
  color: #998a76;
}

/*最新文章*/

aside#lAside article.newArticle header {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  background: #ebf6ff;
  font-family: "等线";
}

aside#lAside article.newArticle ul {
  background: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  height: 169px;
  width: 200px;
  overflow: hidden;
}

aside#lAside article.newArticle ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
}

aside#lAside article.newArticle ul li a {
  color: #393939;
  margin: 0 2em;
}

aside#lAside article.newArticle ul li a:hover {
  text-decoration: underline;
  color: #b00;
}

/* 响应式断点：大屏、平板、手机 */

@media (max-width: 1200px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 12px;
  }
  nav {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 11px;
  }
  nav ul li {
    width: 2.5em;
  }
  nav section.logo {
    width: 80px;
  }
  aside#lAside {
    display: none;
  }
  main {
    margin: 0;
    border: none;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
  nav section.search input {
    width: 80px;
    font-size: 11px;
  }
  nav section.block ul li a {
    font-size: 11px;
    padding: 0 1px;
  }
}
