main {
  flex: 1;
}

main ul.items {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

main ul.items li {
  height: 110px;
}

main ul.items li:hover {
  background: #fafafa;
}

main ul.items li:nth-child(n + 2) {
  border-top: solid 1px #e5e6eb;
  padding: 20px 0;
}

main ul.items li > header {
  display: flex;
  align-items: center;
  height: 1.5em;
  font: 12px "等线";
}

main ul.items li header span:first-child {
  color: #1d2129;
}

main ul.items li header span:nth-child(n + 2) {
  color: #86909c;
}

main ul.items li header span:nth-child(n + 2)::before {
  content: "|";
  font-size: 15px;
  color: #e5e6eb;
  margin: 0 6px;
}

main ul.items li section {
  display: flex;
  flex-wrap: wrap;
}

main ul.items li section header {
  font-weight: bold;
  color: #86909c;
}

main ul.items li section p {
  margin: auto 0;
  width: 70%;
  font: 12px "幼圆";
  overflow: hidden;
  text-overflow: ellipsis;
}

main ul.items li section div {
  margin-left: 10px;
  height: 50px;
  width: 75px;
}

main ul.items li div img {
  height: 100%;
  width: 100%;
  border: 2px;
}

main ul.items li footer {
  font: 12px "等线";
  color: #4e5969;
}

main ul.items li footer span:nth-child(n + 2)::before {
  margin-left: 10px;
}

main ul li header span.author:hover,
main ul.items li footer span:hover {
  color: #4795fa;
}

aside#video {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-top: 15px;
  background-color: #ffffff;
  border: solid 1px #f0f0f2;
  border-radius: 5px;
  padding: 10px 20px;
}

aside#video header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

aside#video header > span {
  font: 14px "等线";
  color: #999aaa;
}

aside#video li {
  display: flex;
  margin: 10px 0;
}

aside#video li div {
  position: relative;
  width: 120px;
  height: 68px;
}

aside#video li div img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

aside#video article {
  display: flex;
  flex-wrap: wrap;
  width: 11em;
  font: 14px "等线";
  margin-left: 0.5em;
}

aside#video article header {
  margin-top: 8px;
  color: #222226;
}

aside#video article footer {
  align-self: flex-end;
  color: #9f9caa;
}

aside#video ul li div section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 99%;
  height: 99%;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0);
}

aside#video ul li div section span {
  color: rgba(0, 0, 0, 0);
  font-size: 32px;
  transition: all 0.4s;
}

aside#video ul li div section:hover {
  background: rgba(0, 0, 0, 0.5);
}

aside#video ul li div section:hover span {
  color: #e5e6eb;
  transform: scale(1.2);
}
