a {
  text-decoration: none;
  color: white;
  display: block;
}

.menu {
  height: 60px;
  width: 100%;
  background-color: #262835;
}

.logo span a {
  float: left;
  margin: 0 0 0 125px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
}

.list_left,
.list_right {
  padding: 0;
  margin: 0;
  height: 60px;
}

.list_left li,
.list_right li {
  list-style: none;
  float: left;
  color: white;
  width: 80px;
  text-align: center;
  font-size: 17px;
  line-height: 60px;
}

.list_left li:hover,
.list_right li:hover {
  background-color: rgb(52, 104, 235);
}

.container {
  background-color: rgb(246, 249, 255);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border: 1px solid #bfbfbf;
}

.title {
  text-align: center;
}

.name,
.pass {
  height: 30px;
  margin: 20px 0 0 0;
  font-weight: lighter;
}

input:focus {
  background: #ffffff;
  border-color: #000000;
}

.validfont {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  background: #d8d8d8;
  color: blue;
  font-size: 35px;
  line-height: 35px;
  font-style: italic;
  font-weight: 500;
}

.sub {
  margin: 20px 0 0 0;
  height: 30px;
  color: white;
  background-color: rgb(64, 113, 253);
  border-radius: 5px;
  border: none;
}

.sub:hover {
  background-color: #4c99e6;
}

.forget {
  margin: 20px 0 0 0;
  text-decoration: none;
  color: blue;
}

.forget:hover {
  color: red;
}

.end {
  background-color: #ffffff;
  width: 100%;
}

.list_bottom_left span {
  float: left;
  font-size: 14px;
  font-weight: 300;
  color: #8d8d8d;
  margin: 0 0 0 150px;
  line-height: 50px;
  text-decoration: none;
}

.list_bottom_right {
  margin: 0;
  padding: 0;
  height: 50px;
  margin: 0 100px 0 0;
}

.list_bottom_right li {
  float: right;
  line-height: 50px;
  list-style: none;
  margin: 0 15px 0 0;
}

.list_bottom_right li a {
  color: #919191;
  font-weight: 400;
  font-size: 14px;
}

.list_bottom_right li a:hover {
  color: #000000;
  text-decoration: underline;
}

.login {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("../resource/img/simple_bg.jpg");
}

.login-page {
  height: 100vh;
}

#form_to1 {
  display: flex;
  flex-direction: column;
}
